.article {
  width: calc(100% - 340px);
}

.article_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.article_date {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}

.article_img {
  margin-bottom: 30px;
}

.article_img img {
  width: 100%;
}

.article_content_wrapper {
  display: flex;
  margin-bottom: 40px;
}