.container {
  width: 100%;
  max-width: 1296px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.container.spaceBetween {
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 50px);
  }
}