.newsBox {
  list-style: none;
  padding: 0;
  width: calc((100% - 90px) / 4);
}

.newsBox_link {
  color: #000000;
  display: contents;
  text-decoration: none;
}

.newsBox_image {
  margin-bottom: 10px;
}

.newsBox_image img {
  width: 100%;
}

.newsBox_title {
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 15px;
}

.newsBox_description {
  margin-bottom: 20px;
}

.newsBox_date {
  font-size: 12px;
  color: #757575;
  text-align: end;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .newsBox {
    width: calc((100% - 30px) / 2);
  }
}

@media only screen and (max-width: 700px) {
  .newsBox {
    width: 100%;
  }
}
