.navbar {
  display: flex;
  background-color: #f28649;
  height: 31px;
}

.active {
  color: #ffffff;
  font-weight: bold;
}

.navItem {
  color: #ffffff;
  text-decoration: none;
  padding-right: 20px;
}
